body{
    margin-top: 0px;
    
}
.container{
    display:grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}

.header{
    
    grid-column: 2 / 3 ;
    grid-row: 1 / 2 ;
}

.sidebar{
    background-color: #1992d4;
    
    grid-column: 1 / 2;
    grid-row: 1 / 3 ;
}

.sidebar div{
    color:white;
}
.main_content{
    grid-column: 2 / 2;
    grid-row: 2 / 3;

}